doctype html
html(lang="en")
    head
        title=w8
    body
        form(action="/" method="POST")
            input(type="text", name="message", value="")
            input(type="submit")
        ul
            each message in messages
                li= message
