<form method="POST" action="./new">
    <table>
        <tr>
            <th>Title</th>
            <td>
                <input type="text" name="title" />
            </td>
        </tr>
        <tr>
            <th>Content</th>
            <td>
                <input type="text" name="content" />
            </td>
        </tr>
    </table>
    <button>Add</button>
</form>
